<!--The content below is only a placeholder and can be replaced.-->
<header>
  <img width="300" alt="CPCC logo" src="/assets/CPCClogo-blue-white.png">
  <ul>
    <li [routerLink]="['/home']">HOME</li>
    <li>GIVE</li>
    <li [routerLink]="['/smallgroups']">SMALL GROUPS</li>
    <li [routerLink]="['/volunteer']">VOLUNTEER</li>
    <li>CALENDAR</li>
    <li>ABOUT</li>
    <li>CONTACT</li>
  </ul>
</header>
<router-outlet></router-outlet>
<footer>
  <ul *ngIf="churchAddress && pastorInfo && associatePastorInfo">
    <li>
      <ul>
        <li>{{ churchAddress.address }}</li>
        <li>{{ churchAddress.city }}, {{ churchAddress.stateCode }} {{ churchAddress.zipCode }}</li>
        <li>{{ churchPhone }}</li>
        <li>{{ churchEmail }}</li>
      </ul>      
    </li>    
    <li><hr></li>
    <li>
      <ul>
        <li>{{ pastorInfo.name }}</li>
        <li>{{ pastorInfo.title }}</li>
        <li>{{ pastorInfo.email }}</li>
      </ul> 
    </li>    
    <li><hr></li>
    <li>
      <ul>
        <li>{{ associatePastorInfo.name }}</li>
        <li>{{ associatePastorInfo.title }}</li>
        <li>{{ associatePastorInfo.email }}</li>
      </ul>
    </li>
  </ul>
</footer>
